@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-image: url(https://unsplash.it/500/500?gravity=center);
    background-position:center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "lato",sans-serif;
}
.form-container{
    background-color: hsla(245, 85%, 10%, 0.5);
    width:30vw;
    max-width: 600px;
    padding: 1rem 1rem;
}
.form-container .title{
    text-align: center;
    font-weight:500;
    font-size: 1.5em;

}
.form-container label{
    display: block;
    font-weight: lighter;
    margin-bottom: .3rem;
}
.form-container input{
    width:100%;
    margin-bottom:1rem;
    border-radius:5px;
    outline:none;
    border:none;
    background-color:hsla(245, 85%, 10%, 0.5);
    padding: .4rem 1rem;
    color: hsla(100, 50%, 90%, .8);
}

.btn{
    border:none;
    background-color: hsla(245, 85%, 10%, 0.5);
    color: white;
    font-weight: 100;
    padding: .40rem 1.5rem;
    width:100%;
    border: 1px solid hsla(245, 50%, 80%, 0.5);
    cursor: pointer;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.btn:hover{
    background-color: hsla(245, 35%, 10%, 0.9);;
}
@media(max-width:770px){
  .form-container{
      width:60vw;
  }
}
@media(max-width:440px){
    .form-container{
        width:90%;
    
    }
    html,body{
        margin:0;
        padding:0;
    }
    .container{
        margin: 0 auto;
    }
  }
